.head-container {
  z-index: 200px;
  position: fixed;
  top: 0;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1280px;
  height: 120px;
}
@media (max-width: 1279px) {
  .head-container {
    width: 768px;
  }
}
@media (max-width: 767px) {
  .head-container {
    width: 320px;
    overflow-x: clip;
  }
}

.burger-gray {
  -webkit-filter: grayscale(100%);
}

.gray-z0 {
  z-index: 0;
}

.header-pets {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  /* height: 100%; */
  color: #545454 !important;
}
@media (max-width: 1279px) {
  .header-pets {
    width: 708px;
  }
}
@media (max-width: 767px) {
  .header-pets {
    width: 320px;
    margin: 30px 0 0 10px;
  }
}
.header-pets .menu-burger .menu-item {
  color: #CDCDCD;
}

.logo .header-title {
  color: #545454;
  margin-top: 10px;
}

.logo {
  position: relative;
  z-index: 300;
}
.logo:hover {
  cursor: pointer;
}

.menu-items, .menu-item-activ {
  color: #545454;
}

@media (max-width: 767px) {
  ul.menu-items {
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
  }
}

.our-pets {
  margin-top: 120px;
  width: 1280px;
  height: 1462px;
  color: #545454;
  background: #F6F6F6;
}
@media (max-width: 1279px) {
  .our-pets {
    width: 768px;
    height: 1733px;
  }
}
@media (max-width: 767px) {
  .our-pets {
    height: 1649px;
    width: 320px;
  }
}

.our-pets-container {
  width: 1200px;
  /* height: 100%; */
}
@media (max-width: 1279px) {
  .our-pets-container {
    width: 708px;
    height: 1733px;
  }
}
@media (max-width: 767px) {
  .our-pets-container {
    height: 1565px;
    width: 300px;
  }
}

.our-pets-content {
  width: 100%;
  height: 1163px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1279px) {
  .our-pets-content {
    height: 1603px;
    justify-content: flex-start;
    margin-top: 80px;
  }
}
@media (max-width: 767px) {
  .our-pets-content {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.our-pets-title {
  width: 400px;
  text-align: center;
}
@media (max-width: 767px) {
  .our-pets-title {
    width: 300px;
  }
}

.our-pets-cards {
  width: 100%;
  height: 930px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 20%;
}
@media (max-width: 1279px) {
  .our-pets-cards {
    height: 1365px;
    overflow-y: hidden;
    flex: 0 0 87%;
    margin: 30px 0 40px 0;
  }
}

.our-pets-cards .cards {
  margin: 15px auto;
}

/* .our-pets-cards .cards-container {
margin-bottom: 30px;
} */
.our-pets-btn {
  height: 52px;
  width: 52px;
  margin: 0 10px;
}
@media (max-width: 767px) {
  .our-pets-btn {
    margin: 0 2px;
  }
}

.disable-btn {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}

.disable-btn:hover {
  background: inherit;
  cursor: default;
}

.active-btn {
  background: #F1CDB3;
}/*# sourceMappingURL=pets.css.map */