body {
    margin:auto;
    width:100%;
    height: 100%;
}
.btn {
    background: #F1CDB3;
    border-radius: 100px;
    width: 207px;
height: 52px;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
/* identical to box height, or 22px */

letter-spacing: 0.06em;

/* color-dark-3xl */

color: #292929;
}
.btn:hover, .card-btn:hover {
    background: #FDDCC4;
    cursor: pointer;
}
.wrapper {
    width: 1280px;
    margin: auto;
}
.head_background {
    display:flex;
    flex-direction: column;
    height: 908px;
    width: 100%;
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),#211F20;
}
.header {
    margin: 60px 40px 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}
.logo {
    display: flex;
    flex-direction: column;
align-items: center;
margin-bottom:10px;
}
.logo:hover {
    cursor: pointer;
}
.header-title {
/* logo_title */

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 110%;
/* or 35px */


letter-spacing: 0.06em;

/* color-primary */

color: #F1CDB3;
}
.header-subtitle {
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
display: flex;
align-items: center;
letter-spacing: 0.1em;

}
.menu-items {
    list-style: none;
    display: flex;
    flex-direction: row;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;    
    color: #CDCDCD;

}
.menu-item {
margin: 0 0 0 35px;

}
.menu-item-activ {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}
.main-container {
    margin: 60px 40px 0 40px;
}
.main{
    display: flex;
    flex-direction: row;
}
.main-content {
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 143px;

}

h2 {  
    /* h2 */  
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    /* or 57px */

}

.main-header {
    width: 310px;
    color: #FFFFFF;
}
.main-text {
    margin: 42px 0;
color: #CDCDCD;
}

.subheading{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}
.main-img {
    margin-left: 42px;
    width: 698px;
height: 728px;
    background-image: url('./assets/img/puppy.png');
    content: '';
    
}

.about {
    height: 588px;
}
.about-container {
    width: 1200px;
    height: 408px;
    margin: 80px 40px 100px 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.about-img {
    margin-left: 175px;
width: 300px;
height: 408px;
content: '';
background: url(./assets/img/pets.png);
}
.about-content {
    margin: 14px 175px 14px 120px;
    width: 430px;
height: 380px;
color: #4C4C4C;
display: flex;
flex-direction: column;
justify-content: space-around;
}

h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;  
}

.about-header {
    color: #545454;
    width: 390px;
}

.pets {
    height: 877px;
    width: 100%;
    background: #F6F6F6;
}
.pets-container {
    margin: 80px 40px 100px 40px;
 /* background: red;    */
    width: 1200px;
    height: 697px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between

}
.pets-head {
    width: 400px;
    text-align: center;
    color: #545454;
}
.pets-slider {
width: 1200px;
height: 435px;
position: relative;
}
.pets-slider-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.cards {
    margin: 0 45px;
    width: 270px;
    height: 435px;
}
.cards:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards-container {
    border-radius: 9px 9px 0px 0px;
    background: #FAFAFA;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card-img {
    width: 270px;
    height: 270px;
    content: '';
}
.card-img-jennifer{
    background-image: url(./assets/img/slider/jennifer.png);
}
.card-img-katrine{
    background-image: url(./assets/img/slider/katrine.png);
}
.card-img-woody{
    background-image: url(./assets/img/slider/woody.png);
}

.card-name {
    margin: 30px 0;
}
.slider-btn{
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    background:inherit;
}
.card-btn {
    width: 187px;
height: 52px;
}
.nav-btn{
    width: 52px;
    height: 52px;
    font-size:14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 189px;
}
.nav-btn-left{
    transform: rotate(-180deg);
    

}
.nav-btn-right{
    right: 0px;

}
.pets-btn {
    width: 261px;
height: 52px;
}