body {
  margin: auto;
  width: 100%;
  height: 100%;
}

.btn {
  background: #F1CDB3;
  border-radius: 100px;
  width: 207px;
  height: 52px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
  /* color-dark-3xl */
  color: #292929;
}

.btn:hover, .card-btn:hover {
  background: #FDDCC4;
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

.cards:hover .card-btn {
  background: #FDDCC4;
}

.head_background {
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.gray {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(128, 128, 128, 0.7);
  z-index: 1;
}
@media (max-width: 767px) {
  .gray {
    display: inline-block;
  }
}

.wrapper {
  width: 1280px;
  margin: auto;
  overflow: hidden;
}
@media (max-width: 1279px) {
  .wrapper {
    width: 768px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    width: 320px;
  }
}

.header {
  position: relative;
  margin: 45px 40px 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
}

@media (max-width: 1279px) {
  .header {
    margin: 30px 30px 0 30px;
  }
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .header {
    margin: 30px 0 0 0;
  }
}
.header .header-title {
  /* logo_title */
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  /* or 35px */
  letter-spacing: 0.06em;
  /* color-primary */
  color: #F1CDB3;
}
.header .header-subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 35px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
}

.logo {
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.logo .logo:hover {
  cursor: pointer;
}
@media (max-width: 767px) {
  .logo {
    margin: 0 0 0 10px;
  }
}

.display-block {
  display: block;
}

.burger {
  display: none;
  content: "";
  width: 30px;
  height: 22px;
  background-image: url("./assets/icon/Burger.png");
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}
.burger:hover {
  cursor: pointer;
}
.burger.active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
@media (max-width: 767px) {
  .burger {
    display: inline-block;
    margin-right: 53px;
    z-index: 200;
  }
}

.hide {
  display: none !important;
}

.show {
  display: inline-block;
}

.show-burger-menu {
  -webkit-animation: burger 0.3s;
          animation: burger 0.3s;
}
@-webkit-keyframes burger {
  0% {
    right: -320px;
  }
  100% {
    right: 0px;
  }
}
@keyframes burger {
  0% {
    right: -320px;
  }
  100% {
    right: 0px;
  }
}

.hide-burger-menu {
  -webkit-animation: bur 0.3s;
          animation: bur 0.3s;
}
@-webkit-keyframes bur {
  0% {
    right: 0px;
  }
  100% {
    right: -320px;
    display: none;
  }
}
@keyframes bur {
  0% {
    right: 0px;
  }
  100% {
    right: -320px;
    display: none;
  }
}

.menu {
  display: inline-block;
}
@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu-burger {
  z-index: 100;
  display: none;
  width: 320px;
}
@media (max-width: 767px) {
  .menu-burger {
    display: inline-block;
    position: absolute;
    top: -50px;
    right: 0px;
    height: 823px;
    background-color: #292929;
  }
}

.menu-items {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}
@media (max-width: 767px) {
  .menu-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
  }
}

.menu-item {
  margin: 0 0 0 36px;
}
@media (max-width: 767px) {
  .menu-item {
    margin: 20px 0;
    font-size: 32px;
  }
}

.menu-item-activ {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

.main-container {
  margin: 44px 40px 0 40px;
}
@media (max-width: 1279px) {
  .main-container {
    margin: 60px 100px 0 90px;
    height: 1015px;
  }
}
@media (max-width: 767px) {
  .main-container {
    height: 673px;
    margin: 30px 10px 0 10px;
  }
}

.main {
  display: flex;
  flex-direction: row;
}
@media (max-width: 1279px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main-content {
  width: 460px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 160px;
}
@media (max-width: 1279px) {
  .main-content {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .main-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

h2 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
}
@media (max-width: 767px) {
  h2 {
    font-size: 25px;
  }
}

.main-header {
  width: 310px;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .main-header {
    width: 200px;
    text-align: center;
  }
}

@media (max-width: 1279px) {
  .main-btn {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.main-text {
  margin: 42px 0;
  color: #CDCDCD;
}
@media (max-width: 767px) {
  .main-text {
    text-align: center;
  }
}

.subheading {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.main-img {
  margin-left: 42px;
  width: 698px;
  height: 728px;
  background-image: url("./assets/img/puppy.png");
  content: "";
}
@media (max-width: 1279px) {
  .main-img {
    margin: 99px 0 0 120px;
    width: 569px;
    height: 593px;
    background-position: top top;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media (max-width: 767px) {
  .main-img {
    width: 260px;
    height: 272px;
    margin: 105px 0 0 60px;
  }
}

.about {
  height: 588px;
}
@media (max-width: 1279px) {
  .about {
    height: 1048px;
  }
}
@media (max-width: 767px) {
  .about {
    height: 974px;
    margin: 0;
  }
}

.about-container {
  width: 1200px;
  height: 408px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 1279px) {
  .about-container {
    width: 768px;
  }
}
@media (max-width: 767px) {
  .about-container {
    width: 320px;
  }
}
@media (max-width: 1279px) {
  .about-container {
    height: 868px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .about-container {
    height: 890px;
  }
}

.about-img {
  margin-left: 175px;
  margin-top: 10px;
  width: 300px;
  height: 408px;
  content: "";
  background: url(./assets/img/pets.png);
}
@media (max-width: 1279px) {
  .about-img {
    margin: 80px 0 0 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 767px) {
  .about-img {
    width: 260px;
    height: 353px;
    margin: 42px 0 0 0;
  }
}

.about-content {
  margin: 22px 175px 0 120px;
  width: 430px;
  height: 380px;
  color: #4C4C4C;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 1279px) {
  .about-content {
    margin: 0;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
@media (max-width: 767px) {
  .about-content {
    width: 270px;
    height: 494px;
  }
}

h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
@media (max-width: 767px) {
  h3 {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
  }
}

.about-header {
  color: #545454;
  width: 390px;
}
@media (max-width: 767px) {
  .about-header {
    width: 270px;
  }
}

.about-center {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .about-center {
    text-align: justify;
  }
}
.pets {
  height: 877px;
  width: 100%;
  background: #F6F6F6;
}
@media (max-width: 767px) {
  .pets {
    height: 791px;
  }
}

.pets-container {
  /* background: red;    */
  width: 1200px;
  height: 697px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: -10px;
}
@media (max-width: 1279px) {
  .pets-container {
    width: 768px;
  }
}
@media (max-width: 767px) {
  .pets-container {
    width: 320px;
  }
}
@media (max-width: 767px) {
  .pets-container {
    height: 707px;
  }
}

.pets-head {
  width: 400px;
  text-align: center;
  color: #545454;
}
@media (max-width: 767px) {
  .pets-head {
    width: 320px;
  }
}

.pets-slider {
  width: 1200px;
  height: 435px;
  position: relative;
}
@media (max-width: 1279px) {
  .pets-slider {
    width: 768px;
  }
}
@media (max-width: 767px) {
  .pets-slider {
    width: 320px;
  }
}
@media (max-width: 1279px) {
  .pets-slider {
    width: 706px;
  }
}
@media (max-width: 767px) {
  .pets-slider {
    width: 290px;
  }
}

.pets-slider-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 1279px) {
  .pets-slider-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
    overflow-y: hidden;
  }
}

.cards {
  margin: 0 45px;
  width: 270px;
  height: 435px;
}
@media (max-width: 1279px) {
  .cards {
    margin: 0 20px;
  }
}

.cards:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards-container {
  border-radius: 9px 9px 0px 0px;
  background: #FAFAFA;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img {
  width: 270px;
  height: 270px;
  content: "";
}

.card-img-jennifer {
  background-image: url(./assets/img/slider/jennifer.png);
}

.card-img-katrine {
  background-image: url(./assets/img/slider/katrine.png);
}

.card-img-woody {
  background-image: url(./assets/img/slider/woody.png);
}

.card-name {
  margin: 27px 0;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.slider-btn {
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  background: inherit;
}

.card-btn {
  width: 187px;
  height: 52px;
}

.nav-btn {
  width: 52px;
  height: 52px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 189px;
}
@media (max-width: 767px) {
  .nav-btn {
    top: 430px;
  }
}

.nav-btn-left {
  transform: rotate(-180deg);
}
@media (max-width: 767px) {
  .nav-btn-left {
    left: 55px;
  }
}

.nav-btn-right {
  right: 0;
}
@media (max-width: 767px) {
  .nav-btn-right {
    right: 55px;
  }
}

.pets-btn {
  width: 261px;
  height: 52px;
}

.help {
  width: 1280px;
  height: 611px;
}
@media (max-width: 1279px) {
  .help {
    width: 768px;
  }
}
@media (max-width: 767px) {
  .help {
    width: 320px;
  }
}
@media (max-width: 1279px) {
  .help {
    height: 779px;
  }
}
@media (max-width: 767px) {
  .help {
    height: 661px;
    padding: 42px 0;
  }
}

.help-container {
  max-width: 1200;
  height: 431px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .help-container {
    width: 630px;
    height: 599px;
  }
}
@media (max-width: 767px) {
  .help-container {
    height: 100%;
  }
}

.help-title {
  width: 310px;
  text-align: center;
}
@media (max-width: 767px) {
  .help-title {
    width: 270px;
  }
}

.help-icons {
  width: 1200px;
  height: 281px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 1279px) {
  .help-icons {
    width: 768px;
  }
}
@media (max-width: 767px) {
  .help-icons {
    width: 320px;
  }
}
@media (max-width: 1279px) {
  .help-icons {
    height: 446px;
  }
}
@media (max-width: 767px) {
  .help-icons {
    height: 555px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.help-card {
  flex: 0 0 20%;
  height: 113px;
  min-width: 60px;
  margin: 0 0 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
}
@media (max-width: 1279px) {
  .help-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}
@media (max-width: 767px) {
  .help-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    height: 87px;
    width: 130px;
    margin-bottom: 30px;
  }
}

.help-card-icon {
  width: 100%;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
}

.help-icon-petfood {
  background-image: url(./assets/icon/petfood.png);
}

.help-card-text {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.help-icon-transportation {
  background-image: url(./assets/icon/transportation.png);
}

.help-icon-toys {
  background-image: url(./assets/icon/toys.png);
}

.help-icon-bowl {
  background-image: url(./assets/icon/bowls.png);
}

.help-icon-shampoos {
  background-image: url(./assets/icon/shampoos.png);
}

.help-icon-vitamins {
  background-image: url(./assets/icon/vitamins.png);
}

.help-icon-medicines {
  background-image: url(./assets/icon/medicines.png);
}

.help-icon-collars {
  background-image: url(./assets/icon/collars.png);
}

.help-icon-sleeping {
  background-image: url(./assets/icon/sleeping.png);
}

.donate {
  height: 462px;
  width: 100%;
  background: #F6F6F6;
}
@media (max-width: 1279px) {
  .donate {
    height: 783px;
  }
}
@media (max-width: 767px) {
  .donate {
    height: 542px;
  }
}

.donate-container {
  width: 915px;
  height: 282px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1279px) {
  .donate-container {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 767px) {
  .donate-container {
    width: 100%;
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 20px;
  }
}

.donate-img {
  margin-top: 10px;
  width: 55%;
  content: "";
  background-image: url("./assets/img/donation-dog.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
@media (max-width: 1279px) {
  .donate-img {
    width: 505px;
    height: 261px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 0 100px 0;
  }
}
@media (max-width: 767px) {
  .donate-img {
    width: 260px;
    height: 135px;
    margin: 0;
    background-size: contain;
  }
}

.donate-content {
  margin-top: 20px;
  width: 41%;
  height: 282px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .donate-content {
    margin-top: 80px;
    width: 380px;
  }
}
@media (max-width: 767px) {
  .donate-content {
    height: 281px;
    width: 300px;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.donate-title {
  color: #545454;
  width: 300px;
}
@media (max-width: 767px) {
  .donate-title {
    width: 220px;
  }
}

.donate-subheading {
  color: #545454;
}
@media (max-width: 767px) {
  .donate-subheading {
    font-size: 13px;
  }
}

.card {
  width: 349px;
  height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/icon/credit-card.png");
  background-position: 3% 50%;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .card {
    width: 280px;
  }
}

.card-num {
  margin-left: 40px;
}

.donate-info {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  display: flex;
  align-items: center;
  /* color-dark-m */
  color: #B2B2B2;
}
@media (max-width: 767px) {
  .donate-info {
    width: 280px;
    text-align: justify;
  }
}

h5 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  letter-spacing: 0.06em;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
}
@media (max-width: 767px) {
  h4 {
    font-size: 15px;
  }
}

.mb20 {
  margin-bottom: 40px;
}

.footer {
  height: 350px;
  width: 100%;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 1279px) {
  .footer {
    height: 639px;
  }
}
@media (max-width: 767px) {
  .footer {
    height: 809px;
  }
}

.footer-container {
  height: 310px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1279px) {
  .footer-container {
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1279px) {
  .footer-container {
    width: 768px;
  }
}
@media (max-width: 767px) {
  .footer-container {
    width: 320px;
  }
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contact {
  margin-top: 30px;
  width: 280px;
}
@media (max-width: 767px) {
  .contact {
    width: 250px;
  }
}

.c-title {
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .c-title {
    width: 250px;
  }
}

.c-container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1279px) {
  .c-container {
    margin: 30px 30px;
  }
}
@media (max-width: 767px) {
  .c-container {
    margin: 20px 10px;
  }
}

.contact-email {
  margin-bottom: 40px;
  margin-top: 40px;
  background-image: url("./assets/icon/mail.png");
}

.conact-fiel {
  padding-left: 60px;
  background-repeat: no-repeat;
  background-position: left center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  /* color-primary */
  color: #F1CDB3;
}

.contact-phone {
  background-image: url("./assets/icon/phone.png");
}

.location {
  width: 305px;
}
@media (max-width: 767px) {
  .location {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .contact-location {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.contact-city {
  background-image: url("./assets/icon/pin.png");
  padding-left: 40px;
  margin-bottom: 28px;
  margin-top: 25px;
}

.contact-address {
  background-image: url("./assets/icon/pin.png");
  padding-left: 40px;
  line-height: 180%;
}

.help-img {
  width: 300px;
  height: 310px;
  background-image: url("assets/img/footer-puppy.png");
  content: "";
}
@media (max-width: 767px) {
  .help-img {
    width: 260px;
    height: 269px;
    background-size: contain;
  }
}
@media (max-width: 1279px) {
  .help-img {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .help-img {
    margin-top: 40px;
  }
}

.card-img-timmy {
  background-image: url(./assets/img/slider/timmy.png);
}

.card-img-charly {
  background-image: url(./assets/img/slider/charly.png);
}

.card-img-scarlett {
  background-image: url(./assets/img/slider/scarlett.png);
}

.card-img-freddie {
  background-image: url(./assets/img/slider/freddie.png);
}

.card-img-sophia {
  background-image: url(./assets/img/slider/sophia.png);
}/*# sourceMappingURL=style.css.map */