body {
    margin:auto;
    width:100%;
    height: 100%;
}

.btn {
    background: #F1CDB3;
    border-radius: 100px;
    width: 207px;
height: 52px;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
/* identical to box height, or 22px */

letter-spacing: 0.06em;

/* color-dark-3xl */

color: #292929;
}
.btn:hover, .card-btn:hover {
    background: #FDDCC4;
    cursor: pointer;
}
a:hover {
    cursor: pointer;
}
.cards:hover .card-btn{
    background: #FDDCC4;
}
$width-max: 1280px;
$width-mid: 768px;
$width-min: 320px;
.head_background {
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),#211F20;
}


@mixin def-width-container {
    width: 1200px;
    @media (max-width: ($width-max - 1)) {
        width: $width-mid; 
    }
    @media (max-width: ($width-mid - 1)) {
        width: $width-min; 
    }  
}

@mixin def-width {
    width: $width-max;
    @media (max-width: ($width-max - 1)) {
        width: $width-mid; 
    }
    @media (max-width: ($width-mid - 1)) {
        width: $width-min; 
    }  
}

.gray {
    display: none;
    @media (max-width: ($width-mid - 1)){
        display: inline-block;
    }
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(128, 128, 128, 0.7);
    z-index: 1;
}

.wrapper {
    
    @include def-width;
    margin: auto;
    overflow: hidden;
    // overflow-y:hidden;
}

.header {
    position: relative;
    margin: 45px 40px 0 40px;
    @media (max-width: ($width-max - 1)) {
        margin: 30px 30px 0 30px;
    }
    @media (max-width: ($width-mid - 1)) {
        // margin: 30px 53px 0 10px;
        margin: 30px 0 0 0;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    .header-title {
        /* logo_title */
        
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        /* or 35px */
        
        
        letter-spacing: 0.06em;
        
        /* color-primary */
        
        color: #F1CDB3;
        }
        .header-subtitle {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 35px;
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;
        
        }
}
.logo {
    z-index: 200;
    display: flex;
    flex-direction: column;
align-items: center;
margin-bottom:10px;
margin-top: 10px;
.logo:hover {
    cursor: pointer;
}
@media (max-width: ($width-mid - 1)){
    margin: 0 0 0 10px;
}
}
.display-block { 
    display: block;
}

.burger {
    display: none;
    content: '';
    width: 30px;
    height: 22px;
    background-image: url('./assets/icon/Burger.png');
    transition: transform .8s;
    &:hover {
        cursor: pointer;
        // transform: rotate(90deg);
    }
    &.active {
        transform: rotate(90deg);
        
    }
    @media (max-width: ($width-mid - 1)) {
        display: inline-block;
        margin-right: 53px;
        z-index: 200;
    }
}

.hide{
    display: none !important;
}
.show {
    display: inline-block;
}
.show-burger-menu {
    animation: burger .3s;
    @keyframes burger {
        0% { right: -320px;}
        100% { right: 0px; }
    }
}
.hide-burger-menu {
    animation: bur .3s;
    @keyframes bur {
        0% { right: 0px;}
        100% { right: -320px;
                display: none;}
    }
}

.menu {
    display: inline-block;
    @media (max-width: ($width-mid - 1)) {
        display: none;
    }
}

.menu-burger {
    z-index: 100;
    display: none ;
    width: 320px;
    @media (max-width: ($width-mid - 1)) {
        display: inline-block;
        position: absolute;
        top: -50px;
        right: 0px;
        height: 823px;
        background-color: #292929;
        
    }
}

.menu-items {
    @media (max-width: ($width-mid - 1)) {
        flex-direction: column;
        padding: 0;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    list-style: none;
    display: flex;
    flex-direction: row;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;    
    color: #CDCDCD;

}
.menu-item {
    @media (max-width: ($width-mid - 1)) {
        margin: 20px 0;
        font-size: 32px;
    }
margin: 0 0 0 36px;

}
.menu-item-activ {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}
.main-container {
    margin: 44px 40px 0 40px;
    @media (max-width: ($width-max - 1)) {
        margin: 60px 100px 0 90px;
        height: 1015px;
    }
    @media (max-width: ($width-mid - 1)) {
        height: 673px;
        margin: 30px 10px 0 10px;
    }
}
.main{
    display: flex;
    flex-direction: row;
    @media (max-width: ($width-max - 1)){
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
    }
}
.main-content {
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 160px;
    @media (max-width: ($width-max - 1)){
    margin-top: 0;
    }
    @media (max-width: ($width-mid - 1)) {
        align-items: center;
        width: 100%;
    }
}

h2 {   
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
@media (max-width: ($width-mid - 1)){
    font-size: 25px;
}


}

.main-header {
    width: 310px;
    color: #FFFFFF;
    @media (max-width: ($width-mid - 1)){
        width: 200px;
        text-align: center;
    }
}

.main-btn {
    @media (max-width: ($width-max - 1)){
        align-self: center;
    }

}

.main-text {
    margin: 42px 0;
color: #CDCDCD;
@media (max-width: ($width-mid - 1)){
    text-align: center;
}
}

.subheading{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
}
.main-img {
    @media (max-width: ($width-max - 1)){
        margin: 99px 0 0 120px;
        width: 569px;
        height: 593px;
        background-position: top top;
        background-size: contain;
        background-repeat: no-repeat;
    }
    @media (max-width: ($width-mid - 1)) {
        width: 260px;
        height: 272px;
        margin: 105px 0 0 60px;
    }
    margin-left: 42px;
    width: 698px;
height: 728px;
    background-image: url('./assets/img/puppy.png');
    content: '';
    
}

.about {
    height: 588px;
    @media (max-width: ($width-max - 1)) {
        height: 1048px;
    }
    @media (max-width: ($width-mid - 1)) {
        height: 974px;
        margin: 0;
    }
}
.about-container {
    @include def-width-container;
    height: 408px;
    @media (max-width: ($width-max - 1)) {
        height: 868px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start
    }
    @media (max-width: ($width-mid - 1)) {
        height: 890px;    
        // margin: 0;    
    }
    display: flex;
    flex-direction: row;
    justify-content: center;


}
.about-img {
    @media (max-width: ($width-max - 1)) {
    margin: 80px 0 0 0;
    order: 1;
    }
    @media (max-width: ($width-mid - 1)) {
        width: 260px;
        height: 353px;
        margin: 42px 0 0 0;
    }
    margin-left: 175px;
    margin-top: 10px;
width: 300px;
height: 408px;
content: '';
background: url(./assets/img/pets.png);
}
.about-content {
    @media (max-width: ($width-max - 1)) {
        margin: 0;
        order: 0;
        }
    @media (max-width: ($width-mid - 1)) {
        // margin: 0;
        width: 270px;
        height: 494px;
    }
    margin: 22px 175px 0 120px;
    width: 430px;
height: 380px;
color: #4C4C4C;
display: flex;
flex-direction: column;
justify-content: space-around;
}

h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;  
    @media (max-width: ($width-mid - 1)) {
        //styleName: h3-mobile;
font-size: 25px;
line-height: 32px;
text-align: center;

    }
}

.about-header {
    color: #545454;
    width: 390px;
    @media (max-width: ($width-mid - 1)){
         width: 270px;
    }

}
.about-center{

    margin-top: 20px;
    @media (max-width: ($width-mid - 1)){
        text-align: justify;
    }
    @media (max-width: ($width-mid - 1)){
        // margin: 25px 0 ;
        // width: 270px;
    }
}

.pets {
    height: 877px;
    width: 100%;
    background: #F6F6F6;
    @media (max-width: ($width-mid - 1)){
        height: 791px;
    }
}
.pets-container {
 /* background: red;    */
    @include def-width-container;
    height: 697px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    margin-top: -10px;
    @media (max-width: ($width-mid - 1)){
        height: 707px;
    }
}
.pets-head {
    @media (max-width: ($width-mid - 1)){
        width: 320px;
    }
    width: 400px;
    text-align: center;
    color: #545454;
}
.pets-slider {
    @include def-width-container;
    @media (max-width: ($width-max - 1)){
     width: 706px;   
    }
    @media (max-width: ($width-mid - 1)){
        width: 310px; 
        margin-bottom: 10px;  
       }
    height: 435px;
    position: relative;
    }
.pets-slider-container {
    margin: auto;
    overflow: hidden;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition: width 1s;
    @media (max-width: ($width-max - 1)){
        width: 88%;
        flex-wrap: wrap;
        overflow: hidden;
        // max-height:50px;
        overflow-y:hidden;
    }
    @media (max-width: ($width-mid - 1)){
        width: 100%;
        margin: 0;
        flex-wrap: wrap;
        overflow: hidden;
        // max-height:50px;
        overflow-y:hidden;
    }

}
.cards {
    @media (max-width: ($width-max - 1)){
        margin: 0 20px;   
    }
    margin: 0 45px;
    width: 270px;
    height: 435px;
}
.cards:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards-container {
    border-radius: 9px 9px 0px 0px;
    background: #FAFAFA;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card-img {
    width: 270px;
    height: 270px;
    content: '';
}
.card-img-jennifer{
    background-image: url(./assets/img/slider/jennifer.png);
}
.card-img-katrine{
    background-image: url(./assets/img/slider/katrine.png);
}
.card-img-woody{
    background-image: url(./assets/img/slider/woody.png);
}

.card-name {
    margin: 27px 0;
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
}
.slider-btn{
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    background:inherit;
}
.card-btn {
    width: 187px;
height: 52px;
}
.nav-btn{
    width: 52px;
    height: 52px;
    font-size:14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 189px;
    @media (max-width: ($width-mid - 1)){ 
        top: 450px;
    }
}
.nav-btn-left{
    @media (max-width: ($width-mid - 1)){
        left: 55px;
    }
    transform: rotate(-180deg);
    

}
.nav-btn-right{
    right: 0;
    @media (max-width: ($width-mid - 1)){
    right: 55px;
    }

}
.pets-btn {
    width: 261px;
height: 52px;
}

.help {
 @include def-width;
 @media (max-width: ($width-max - 1)) {
    height: 779px;
}
@media (max-width: ($width-mid - 1)) {
    height: 661px;
    padding: 42px 0;
}
 height: 611px;   
}
.help-container {
    max-width: 1200;
    @media (max-width: ($width-max - 1)) {
        width: 630px;
        height: 599px;
    }
    @media (max-width: ($width-mid - 1)) {
    height: 100%;
    }
height: 431px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.help-title {
    width: 310px;
    text-align: center;
    @media (max-width: ($width-mid - 1)) {
        width: 270px;
        }
}

.help-icons {
    @include def-width-container;
    @media (max-width: ($width-max - 1)) {
        height: 446px;
    }
    @media (max-width: ($width-mid - 1)) {
    height: 555px;
    justify-content: flex-start;
    }
height: 281px;
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
}

.help-card {
    @media (max-width: ($width-max - 1)) {
        flex: 0 0 30%;
    }
    @media (max-width: ($width-mid - 1)) {
        flex: 0 0 50%;
        height: 87px;
        width: 130px;
        margin-bottom: 30px;
    }
    flex: 0 0 20%;
    height:113px;
    min-width: 60px;
    margin: 0 0 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
}

.help-card-icon {
    width: 100%;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
}
.help-icon-petfood {
    background-image: url(./assets/icon/petfood.png);
}
.help-card-text {
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
/* identical to box height, or 23px */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

/* color-dark-l */

color: #545454;
}
.help-icon-transportation {
    background-image: url(./assets/icon/transportation.png);
}
.help-icon-toys {
    background-image: url(./assets/icon/toys.png);
}
.help-icon-bowl {
    background-image: url(./assets/icon/bowls.png);
}
.help-icon-shampoos {
    background-image: url(./assets/icon/shampoos.png);
}
.help-icon-vitamins {
    background-image: url(./assets/icon/vitamins.png);
}
.help-icon-medicines {
    background-image: url(./assets/icon/medicines.png);
}
.help-icon-collars {
    background-image: url(./assets/icon/collars.png);
}
.help-icon-sleeping {
    background-image: url(./assets/icon/sleeping.png);
}
.donate {
    @media (max-width: ($width-max - 1)){
        height: 783px;
    }
    @media (max-width: ($width-mid - 1)){
        height: 542px;
    }
    height: 462px;
width: 100%;
background: #F6F6F6;
}
.donate-container {
    @media (max-width: ($width-max - 1)){
        width: 100%;
        height: 100%;
        flex-direction:column;
    }
    @media (max-width: ($width-mid - 1)){
        width: 100%;
        height: 100%;
        justify-content: space-around;
        box-sizing: border-box;
        padding: 0 20px;
    }
    width: 915px;
    height: 282px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.donate-img {
    @media (max-width: ($width-max - 1)) {
        width: 505px;
        height: 261px;
        order: 1;
        margin: 0 0 100px 0;
    }
    @media (max-width: ($width-mid - 1)){
        width: 260px;
        height: 135px;
        margin: 0;
        background-size: contain;
    }
    margin-top: 10px;;
    width: 55%;
    content: '';
    background-image: url('./assets/img/donation-dog.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
.donate-content {
    @media (max-width: ($width-max - 1)) {
    margin-top: 80px;
    width: 380px;
    }
    @media (max-width: ($width-mid - 1)) {
        height: 281px;
        width: 300px;
        margin: 0;
        align-items: center;
        }
    margin-top: 20px;
    width: 41%;
    height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.donate-title {
    color: #545454;
    width: 300px;
    @media (max-width: ($width-mid - 1)) {
    width: 220px;
    }
}

.donate-subheading {
    color: #545454; 
    @media (max-width: ($width-mid - 1)) {
    font-size: 13px;
    }
}

.card {
    @media (max-width: ($width-mid - 1)) {
        width: 280px;
    }
    width: 349px;
    height: 43px; 
    background: #F1CDB3;
    border-radius: 9px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-image: url('./assets/icon/credit-card.png');
    background-position: 3% 50%;
    background-repeat: no-repeat;
}
.card-num {
    margin-left: 40px;
}

.donate-info {
    @media (max-width: ($width-mid - 1)) {
        width: 280px;
        text-align: justify;
    }
    font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

display: flex;
align-items: center;

/* color-dark-m */

color: #B2B2B2;
}

h5 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    /* identical to box height, or 17px */
    
    letter-spacing: 0.06em;
    margin: 0;
    padding: 0;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content:center;  
}

h4 {
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
@media (max-width: ($width-mid - 1)) {
    font-size: 15px;
}
line-height: 115%;
/* identical to box height, or 23px */

display: flex;
align-items: center;
letter-spacing: 0.06em;
}

.mb20 {
    margin-bottom: 40px;
}

.footer {
    @media (max-width: ($width-max - 1)) {
        height: 639px;
    }
    @media (max-width: ($width-mid - 1)) { 
    height: 809px;
    }
    height: 350px;
    width: 100%;
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:flex-end;
}
.footer-container {
    @media (max-width: ($width-max - 1)) {
        height: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    height: 310px;
    @include def-width-container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.info {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
}
.contact {
    margin-top: 30px;
    width: 280px;
    @media (max-width: ($width-mid - 1)) {
        width: 250px;
    }

}
.c-title {
    color: #FFFFFF;
    @media (max-width: ($width-mid - 1)) {
        width: 250px;
    }
}
.c-container {
    @media (max-width: ($width-max - 1)) {
    margin: 30px 30px;
    }
    @media (max-width: ($width-mid - 1)) {
        margin: 20px 10px;
    }
    margin-top: 16px;
    display: flex;
    flex-direction:column;
}
.contact-email {
    margin-bottom: 40px;
    margin-top: 40px;
    background-image: url('./assets/icon/mail.png');
}
.conact-fiel {
    padding-left: 60px;
    background-repeat: no-repeat;
    background-position: left center;
    font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
/* identical to box height, or 23px */

letter-spacing: 0.06em;

/* color-primary */

color: #F1CDB3;
}
.contact-phone {
    background-image: url('./assets/icon/phone.png');
}
.location {
    width: 305px;
    @media (max-width: ($width-mid - 1)) {
        width: 300px;
    }
}
.contact-location {
    @media (max-width: ($width-mid - 1)) {
        align-self: center;
    }
}


.contact-city {
    background-image: url('./assets/icon/pin.png');
    padding-left: 40px;
    margin-bottom: 28px;
    margin-top: 25px;
}
.contact-address {
    background-image: url('./assets/icon/pin.png');
    padding-left: 40px;
    line-height: 180%;
}
.help-img {
    @media (max-width: ($width-mid - 1)) {
        width: 260px;
        height: 269px;
        background-size: contain;
    }
    width: 300px;
height: 310px;
background-image: url('assets/img/footer-puppy.png');
content: '';
@media (max-width: ($width-max - 1)) {
    margin-top: 30px;
}
@media (max-width: ($width-mid - 1)) {
    margin-top: 40px;
}
}


.card-img-timmy {
    background-image: url(./assets/img/slider/timmy.png);
}
.card-img-charly {
    background-image: url(./assets/img/slider/charly.png);
}
.card-img-scarlett {
    background-image: url(./assets/img/slider/scarlett.png)
}
.card-img-freddie {
    background-image: url(./assets/img/slider/freddie.png);
}
.card-img-sophia {
    background-image: url(./assets/img/slider/sophia.png)
}